<!-- This snippet uses Font Awesome 5 Free as a dependency. You can download it at fontawesome.io! -->
<%- include('header') -%>
  <link href="css/index.css" rel="stylesheet">
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign up</h5>
            <form class="form-signin" action="/signup/newuser" method="post">
              <div class="form-label-group">
                <input type="text" id="inputEmail1" class="form-control" placeholder="Enter name" name="uname" required autofocus>
                <label for="inputEmail1">Name</label>
              </div>
              <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" name="uemail" required autofocus>
                <label for="inputEmail">Email address</label>
              </div>
              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="upass" required>
                <label for="inputPassword">Password</label>
              </div>
              <div class="text-center">
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign up</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
